<!DOCTYPE html>
<html>
<title>BLOOD BANK</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inconsolata">
<style>
body, html {
    height: 100%;
    font-family: "Inconsolata", sans-serif;
}
.bgimg {
    background-position: right;
    background-size: cover;
     background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSZJhQSWQCC4MG8kOJF0Yu_VeNFdKpsLnYPR9xuP2Mad74BRnmC");
    min-height: 75%;
}
.menu {
    display: none;
}
</style>
<body>

<!-- Links (sit on top) -->
<div class="w3-top">
  <div class="w3-row w3-padding w3-black">
    <div class="w3-col s3">
      <a href="#" class="w3-button w3-block w3-black">HOME</a>
    </div>
    <div class="w3-col s3">
      <a href="#about" class="w3-button w3-block w3-black">ABOUT</a>
    </div>
    <div class="w3-col s3">
      <a href='http://127.0.0.1:8000/basic/admin/login/?next=/basic/admin/' class="w3-button w3-block w3-black">Admin Login</a>
    </div>

    <div class="w3-col s3">
      <a href='http://127.0.0.1:8000/basic/donor/donor/' class="w3-button w3-block w3-black">Donors</a>
    </div>
    <div class="w3-col s3">
      <a href='http://127.0.0.1:8000/basic/receiver/receiver/' class="w3-button w3-block w3-black">Receivers</a>
    </div>
    <div class="w3-col s3">
      <a href="#where" class="w3-button w3-block w3-black">WHERE</a>
    </div>
  </div>
</div>

<!-- Header with image -->
<header class="bgimg w3-display-container w3-grayscale-min" id="home">
  <div class="w3-display-bottomleft w3-center w3-padding-large w3-hide-small">
    <span class="w3-tag">PLEASE DONATE</span>
  </div>
  <div class="w3-display-middle w3-center">
    <span class="w3-text-white" style="font-size:90px">Vasavi<br>BLOOD BANK</span>
  </div>
  <div class="w3-display-bottomright w3-center w3-padding-large">
    <span class="w3-text-black">SAVE A LIFE!</span>
  </div>
</header>

<!-- Add a background color and large text to the whole page -->
<div class="w3-sand w3-grayscale w3-large">

<!-- About Container -->
<div class="w3-container" id="about">
  <div class="w3-content" style="max-width:700px">
    <h5 class="w3-center w3-padding-64"><span class="w3-tag w3-wide">ABOUT THE BANK</span></h5>
    <p>This is a non profit organisation started in 2017.Its main goal has always been to help those in need. </p>
      <p>A life can be saved just by donating just a little amount of blood.FUN FACT:It is actually healthy to date blood every 3 months as it boosts your body to make fresh blood and make you healthier</p>
    <div class="w3-panel w3-leftbar w3-light-grey">
      <p><i>"If you're a blood donor,you're a hero to someone,somewhere,who received your gracious gift of life".</i></p>
      <p>"Share a little,care a little--Donate Blood"</p>
    </div>
    <p><strong>Opening hours:</strong> everyday from 6am to 5pm.</p>
    <p><strong>Address:</strong> xyz,...Hyderabad</p>
  </div>
</div>

<!-- Contact/Area Container -->
<div class="w3-container" id="where" style="padding-bottom:32px;">
  <div class="w3-content" style="max-width:700px">
    <h5 class="w3-center w3-padding-48"><span class="w3-tag w3-wide">WHERE TO FIND US</span></h5>
    <p>Find us at some address at some place.</p>
    <p><span class="w3-tag">FYI!</span>Admin can be contacted at any time,that is we provide a 24 hr service for calls.All you have to do is give a missed call and we will contact you for basic information like name,phone no,blood group etc. </p>
    <p><strong>Contact</strong> our Admin or just send us a message at 7799823234</p>
  </div>
</div>

<!-- End page content -->
</div>

<!-- Footer -->
<footer class="w3-center w3-light-grey w3-padding-48 w3-large">
  <p>Project by <a class="w3-hover-text-green">R.Sravya 1602-15-733-106 & B.Yoshita 1602-15-733-120</a></p>
</footer>

</body>
</html>
